#listaRegistros{ display: none;}
#cadastroRegistro{
    display: none;
    flex-direction: column;
    gap: 30px;
}
body[page=lista] 

#listaRegistros{ 
    display: block;
}

body[page=cadastro] 

#cadastroRegistro{
    display: flex;
    border-radius: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(226, 226, 226);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
thead{
    border-radius: 10px;
}

table th{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
}

table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
}

table th.id{
    margin-top: 100px;
}
button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
    text-align-last: right;
}
button.cinza{
    background-color: #ccc;
    color: #666;
}
button.vermelho{
    background-color: #a00;
}
button:hover{
    opacity: 0.8;
}
input{
    margin-bottom: 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}
.label>div{
    display: flex;
}
.label>div>input{
    flex: 1;
}